
Samples/\.vs/

Samples/Console/HelloFriend/bin/

Samples/Console/HelloFriend/obj/

Samples/Console/HelloFriend/Properties/

Samples/Console/HelloFriend/wwwroot/

*.user

Samples/Console/HelloWorld/bin/

Samples/Console/HelloWorld/obj/

Samples/Console/ReadKeyFun/bin/

Samples/Console/ReadKeyFun/obj/

Samples/Console/ReadKeyFun/wwwroot/

Samples/Console/ReadKeyFun/Properties/

Samples/Demo/bin/

Samples/Demo/obj/

Samples/Demo/Properties/

Samples/Demo/wwwroot/

Samples/Demo/App\.g\.cs

Samples/Demo/Examples/_Misc/Animation A/View\.g\.cs

Samples/Demo/Examples/_Misc/Binding A/View\.g\.cs

Samples/Demo/Examples/_Misc/Calculator/MyAssets\.g\.cs

Samples/Demo/Examples/_Misc/Calculator/View\.g\.cs

Samples/Demo/Examples/_Misc/Home/View\.g\.cs

Samples/Demo/Examples/_Misc/Observable A/View\.g\.cs

Samples/Console/HelloWorld/Properties/

Samples/Console/HelloWorld/wwwroot/

Samples/Demo bin April 18/

Samples/Demo/BrushPicker - 1 droplist\.cs

Samples/HelloWorld/Properties/

Samples/HelloWorld/wwwroot/

Samples/HelloWorldA/bin/

Samples/HelloWorldA/obj/

Samples/HelloWorldA/Properties/

Samples/HelloWorldA/wwwroot/

Samples/HelloWorldB/bin/

Samples/HelloWorldB/obj/

Samples/HelloWorldB/Properties/

Samples/HelloWorldB/wwwroot/

Samples/HelloWorldC/bin/

Samples/HelloWorldC/obj/

Samples/HelloWorldC/Properties/

Samples/HelloWorldC/wwwroot/
